.Root_paralax {
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671666282_kalix-club-p-sovetskii-fon-vkontakte-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}