
.person-card_root {
    height: 100%;
}

.person-block_modal {
    --bs-modal-bg: #212529 !important;
}

.person-block_modal > .modal-dialog > .modal-content > .modal-header {
    border-color: transparent !important;
}

.person-block_modal > .modal-dialog > .modal-content > .modal-body > .person-card_root {
    border-color: transparent !important;
}

.person-card_photo {
    max-width: 100%;
    height: 400px;
}